<a href="https://colab.research.google.com/github/sanyhmahadi/python1/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Sany")

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
si = "Dhaka is the  capital of Bangladesh"
print(len(si))
si[0]

35

'D'

In [6]:
si[-12]

'f'

In [7]:
si[1:-8]

'haka is the  capital of Ba'

In [8]:
def sum(a,b):
  c = a+b
  return c
a = int(input("Enter your number: "))
b = int(input("Enter 2nd number: "))
d = sum(a,b)
print("The sum is : ",d)

KeyboardInterrupt: ignored

In [ ]:
def divisor(x,y,m):
  if x%m==0 and y%m==0:
    print("%d & %d are divide by %d"%(x,y,m))
  elif x%m == 0:
    print("only %d is divided by %d"%(x,m))
  elif y%m == 0:
    print("only %d is divided by %d"%(y,m))
  else:
    print("none of %d & %d is divisible %d"%(x,y,m))

In [ ]:
divisor(10,20,5)
divisor(12,20,5)
divisor(10,22,5)
divisor(2,5,3)

10 & 20 are divide by 5
only 20 is divided by 5
only 10 is divided by 5
none of 2 & 5 is divisible 3

In [ ]:
def sum():
  a = 3+8
  return a
b = sum()
print(b)

11

In [ ]:
def check(a=0):
  if a==0:
    print("zero")
  elif a>0:
    print("positive")
  else:
    print("negative")

In [ ]:
check()
check(-4)
check(4)

In [ ]:
def local_scope():
  a=7
  print(a)


local_scope()
print(a)

7
None

In [ ]:
def global_scope():
  global x
  x = 10
global_scope()
print(x)

10

In [ ]:
#creating list
list0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(list0)

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In [ ]:
list0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in list0:
  print(i,end='')
print('')

123322.2343.23python[2, 32, 3]

In [ ]:
tp0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
()
()

In [ ]:
#create base class
class Ball():
  def __init__ (self):
    print(f'Ball created!')
  def Who_am_i(self):
    print(f'iam ball')

In [ ]:
#create a child (football) class
class Football(Ball):
  def __init__ (self):
    Ball. __init__(self)
    print((f'Football created'))

In [ ]:
myFootball = Football()

Ball created!
Football created

In [ ]:
myFootball.Who_am_i()

iam ball

In [ ]:
#create overriding
class Football(Ball):
  def __init__ (self):
    Ball. __init__(self)
    print((f'Football created'))

In [ ]:
#override
def Who_am_i(self):
  print(f'im fotball')

In [ ]:
#object
myFootball = Football()

Ball created!
Football created

In [ ]:
myFootball.Who_am_i()

iam ball

In [1]:
import numpy as np
numbers = np.array([2,3,7,11])
numbers

array([ 2,  3,  7, 11])

In [2]:
arr = [[i for i in range (1, 21) if i % 2 == n] for n in range(2)] 
print(arr)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]]

In [9]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Research/iris_csv.csv")

In [ ]:
df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
df.head(10)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [14]:
df.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class'], dtype='object')

In [15]:
df.shape

(150, 5)

In [64]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as pyplot
data = pd.read_csv("/content/drive/MyDrive/Research/iris_csv.csv")

In [47]:
data

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [48]:
df.head(10)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [49]:
x = data.iloc[:,:-1].values
y = data.iloc[:,4].values

In [50]:
x = data.drop("class",axis = 1)
y = data["class"]

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.20)

In [57]:
x_train

     sepallength  sepalwidth  petallength  petalwidth
28           5.2         3.4          1.4         0.2
54           6.5         2.8          4.6         1.5
47           4.6         3.2          1.4         0.2
130          7.4         2.8          6.1         1.9
77           6.7         3.0          5.0         1.7
..           ...         ...          ...         ...
125          7.2         3.2          6.0         1.8
83           6.0         2.7          5.1         1.6
32           5.2         4.1          1.5         0.1
106          4.9         2.5          4.5         1.7
52           6.9         3.1          4.9         1.5

[120 rows x 4 columns]

In [58]:
y_train

28         Iris-setosa
54     Iris-versicolor
47         Iris-setosa
130     Iris-virginica
77     Iris-versicolor
            ...
125     Iris-virginica
83     Iris-versicolor
32         Iris-setosa
106     Iris-virginica
52     Iris-versicolor
Name: class, Length: 120, dtype: object

In [59]:
y_test

116     Iris-virginica
99     Iris-versicolor
146     Iris-virginica
76     Iris-versicolor
73     Iris-versicolor
79     Iris-versicolor
0          Iris-setosa
137     Iris-virginica
144     Iris-virginica
48         Iris-setosa
129     Iris-virginica
2          Iris-setosa
104     Iris-virginica
100     Iris-virginica
108     Iris-virginica
72     Iris-versicolor
103     Iris-virginica
110     Iris-virginica
44         Iris-setosa
61     Iris-versicolor
84     Iris-versicolor
50     Iris-versicolor
82     Iris-versicolor
58     Iris-versicolor
80     Iris-versicolor
136     Iris-virginica
90     Iris-versicolor
138     Iris-virginica
65     Iris-versicolor
126     Iris-virginica
Name: class, dtype: object

In [62]:
L = LabelEncoder()
y_train = L.fit_transform(y_train)
y_test = L.transform(y_test)

In [63]:
y_test

array([2, 1, 2, 1, 1, 1, 0, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 2, 0, 1, 1, 1,
       1, 1, 1, 2, 1, 2, 1, 2])

In [66]:
from sklearn.linear_model import LinearRegression, LogisticRegression

In [68]:
l = LinearRegression()
l.fit(x_train,y_train)
l.score(x_test,  y_test)

0.8677952582012856

In [69]:
l = LogisticRegression()
l.fit(x_train,y_train)
l.score(x_test,  y_test)

1.0