<a href="https://colab.research.google.com/github/sanyhmahadi/python1/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Sany")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
si = "Dhaka is the  capital of Bangladesh"
print(len(si))
si[0]

35

'D'

In [ ]:
si[-12]

'f'

In [ ]:
si[1:-8]

In [ ]:
def sum(a,b):
  c = a+b
  return c
a = int(input("Enter your number: "))
b = int(input("Enter 2nd number: "))
d = sum(a,b)
print("The sum is : ",d)

Enter your number: 5
Enter 2nd number: 5
The sum is :  10

In [ ]:
def divisor(x,y,m):
  if x%m==0 and y%m==0:
    print("%d & %d are divide by %d"%(x,y,m))
  elif x%m == 0:
    print("only %d is divided by %d"%(x,m))
  elif y%m == 0:
    print("only %d is divided by %d"%(y,m))
  else:
    print("none of %d & %d is divisible %d"%(x,y,m))

In [ ]:
divisor(10,20,5)
divisor(12,20,5)
divisor(10,22,5)
divisor(2,5,3)

10 & 20 are divide by 5
only 20 is divided by 5
only 10 is divided by 5
none of 2 & 5 is divisible 3

In [ ]:
def sum():
  a = 3+8
  return a
b = sum()
print(b)

11

In [ ]:
def check(a=0):
  if a==0:
    print("zero")
  elif a>0:
    print("positive")
  else:
    print("negative")

In [ ]:
check()
check(-4)
check(4)

In [ ]:
def local_scope():
  a=7
  print(a)


local_scope()
print(a)

7
None

In [ ]:
def global_scope():
  global x
  x = 10
global_scope()
print(x)

10

In [ ]:
#creating list
list0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(list0)

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

In [ ]:
list0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in list0:
  print(i,end='')
print('')

123322.2343.23python[2, 32, 3]

In [ ]:
tp0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
()
()

In [ ]:
#create base class
class Ball():
  def __init__ (self):
    print(f'Ball created!')
  def Who_am_i(self):
    print(f'iam ball')

In [ ]:
#create a child (football) class
class Football(Ball):
  def __init__ (self):
    Ball. __init__(self)
    print((f'Football created'))

In [ ]:
myFootball = Football()

Ball created!
Football created

In [ ]:
myFootball.Who_am_i()

iam ball

In [ ]:
#create overriding
class Football(Ball):
  def __init__ (self):
    Ball. __init__(self)
    print((f'Football created'))

In [ ]:
#override
def Who_am_i(self):
  print(f'im fotball')

In [ ]:
#object
myFootball = Football()

Ball created!
Football created

In [ ]:
myFootball.Who_am_i()

iam ball

In [ ]:
import numpy as np
numbers = np.array([2,3,7,11])
numbers

array([ 2,  3,  7, 11])

In [ ]:
arr = [[i for i in range (1, 21) if i % 2 == n] for n in range(2)] 
print(arr)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]]

In [11]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Research/iris_csv.csv")

In [7]:
df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
df.head(10)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [12]:
df.column

AttributeError: ignored

In [13]:
df.shape

(150, 5)